.main-container{
  margin-left: 5%;
  padding-left: 10%;
  padding-top: 5%;
}

.page-title{
  background-image: linear-gradient(150deg,blue,white);
  color:black;
  font-style: italic;
  letter-spacing: 3px;
  font-weight: 600;
  width:90%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 1%;
  padding-bottom:1%;
}

.name{
  font-size: 1.5rem;
  width:30%;
  font-family: 'Rubik', sans-serif;
  color: rgb(37, 37, 128);
}

header{
  display: flex;
  justify-content: space-between;
  font-family: 'Fira Sans', sans-serif;
}

iframe{
  width:70vw;
  height: 70vh;
  padding-left: 1%;
}
/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inter', sans-serif;



font-family: 'Wix Madefor Text', sans-serif;
font-family: 'Zilla Slab', serif;
*/

.accordion-layout{
  width:90%;
  margin:3%;
  padding:5%;
  padding-left: 3%;
  margin-left: 1%;
}

.download{
  font-family: 'Quicksand', sans-serif;
 padding-left: 0%;
 font-size: 1.5rem;
letter-spacing: 2px;
}

.portfolio-container{
  width:90%;
  margin-left: 0%;
}